﻿:root {
    --primary-color: #5A89BB;
    --action-color: #e0eaf3;
    font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
    color-scheme: light;
    color: #353535;
    background-color: white;
    text-align: center;
}

.App {
    color: #353535;
    background-color: #fff;
    text-align: center;
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: block;
    margin: 0;
    background-color: white;
}

input {
    height: 2em;
    width: 100%;
    border: 1px solid #353535;
    border-radius: 5px;
}

input:disabled {
    border: 1px solid #0000006b;
}

.weak {
    font-weight: lighter;
    margin: 0;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-size: 1.5em;
}

h2 {
    margin: 1em 0;
    font-size: 1.1em;
}

h3 {
    margin: 0.75em 0;
    font-size: 0.9em;
}

h4 {
    margin: 0.75em 0;
    font-size: 0.75em;
}

h5 {
    font-size: 0.75em;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

hr {
    margin: 0;
}

label {
    font-size: 0.75em;
    margin-bottom: 5px;
}

.fail_flag {
    width: auto !important;
    display: none !important;
    overflow: visible;
    position: absolute;
    top: 110%;
    left: auto;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 10px 4px;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .fail_flag::before {
        content: "";
        position: absolute;
        top: -18px;
        left: 20%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #f8d7da transparent;
        z-index: 11;
    }

    .fail_flag.visible {
        display: flex !important;
    }

    .fail_flag p {
        margin: 0;
        font-size: small;
    }

/*#admin_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20% 5%;
    padding: 1em 0;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
    background-color: #e0eaf3;
}
    #admin_div button {
        margin: 1em 5%;
        width: 50%;
        height: 3em;
        max-width: 300px;
    }

.popupLogin {
    margin: auto;
    width: 60%;
    padding: 15px 20px;
    background: #fff;
    border-radius: 5px;
    
    position: relative;
    transition: all 1s ease-in-out;
}

    .popupLogin .close, .popupLogin .close_add, .popupLogin .edit_add {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

    .popupLogin .content {
        max-height: 30%;
        overflow: auto;
    }

    .popupLogin h1 {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0.25em;
        margin-inline-start: 0;
        margin-inline-end: 15px;
    }

    .popupLogin p {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0.75em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .popupLogin label {
        font-size: medium;
    }

#popupWindow {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.75s ease-in-out;
}*/

.popup_button {
    min-height: 2.5em;
    width: 40%;
    max-width: 300px;
}

.check-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Create a custom checkbox */
.checkmark {
    height: 25px;
    min-height: 25px;
    width: 25px;
    min-width: 25px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}
.check-container:hover .checkmark {
    background-color: #ccc;
}
.check-container input {
    display:none;
}
.check-container input:checked + .checkmark {
    background-color: #5A89BB;
}
.check-container input:checked + .checkmark::after {
    content: "";
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkbox-div label {
    font-size: small;
    font-weight: normal;
}
    #md-checkbox {
        margin-bottom: 2em;
    }
.checkbox-header {
    display: flex;
    align-items: flex-start !important;
    margin: 6% 0 !important;
    width: 80% !important;
}
.checkbox-header-text {
    margin-block: 0;
    font-size: medium;
    font-weight: lighter;
}

.invalid_input {
    border: solid 1.5px red;
    border-radius: 3px; 
    background-color: #ffdddd;
}

@media only screen and (min-width: 400px) {
    .popup_button {
        width: 60%;
    }
}

@media only screen and (min-width: 630px) {
    .fail_flag p {
        font-size: smaller;
    }
}